{% extends 'base.html.twig' %}

{% block title %}2TAK HARDWARE | Panier{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <h1 class="mx-auto mt-5">Votre Panier</h1>
        </div>

        <div class="row">
            {% if app.session.get('panier') %}
            <form class="form-group form_panier" action="#" method="post">
                <table class="table table-bordered my-5">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for produit in panier %}
                    <tr>
                        <th> <img src="{{ produit.lienImage }}" class="image-panier"> <p class="">{{ produit.libelle }}</p> </th>
                        <th> <input type="number" min="0" max="{{ produit.stock }}" id="Quantite_{{ produit.id }}" class="form-control d-flex justify-content-center my-3" name="{{ produit.id }}" value="{{ produit.quantite }}" > </th>
                        <th> <p class="d-flex justify-content-center my-3">{{ produit.prix }} €</p> </th>
                        <th> <a href="{{ path('delProduitPanier') }}" class="d-flex justify-content-center my-3">
                                <img src="../Icones/icons8-supprimer-pour-toujours-64.png" class="icone" ></a> </th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input class="form-control" type="submit" name="Valider" value="Valider">
                {% else %}
                <p>Il n'y a pas de produit dans votre panier.</p>
                {% endif %}
            </form>
        </div>
        <!-- row -->

    </div>
    <!-- container -->
{% endblock %}
