{% block cardProduit %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-container">
            <h5 class="card-product-name">
                {{ produit.getLibelle }}
            </h5>
            <p class="card-marque">{{ produit.getMarque }}</p>

            <img class="image" src='../Images/{{ controller_name }}/{{ page_name }}/{{ produit.getLibelle }}.png' alt="">
            <div class="card-circle"></div>

            <div class="row d-flex justify-content-center avis">
                <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                <div class="cadre card-left mr-3">
                    {% if produit.getNote %}
                        <div class="noteGraph" style="width: {{ 10*produit.getNote }}px;"></div>
                    {% else %}
                        <div class="noteGraph" style="width: 100px; background: #616161!important;"></div>
                    {% endif %}
                </div>
                <div class="note float-right card-right">
                </div>
            </div>
            <div class="row prix d-flex mt-3">
                <!-- Début Ajout panier -->
                {% if app.user %}
                <a class="Panier card-left mr-3" href="{{ path('addPanier', {'id': produit.getIdProduit}) }}">
                    <img src="../Icones/icons8-ajouter-au-panier-64.png" class="icone"></a>
                {% endif %}
                <!-- Fin Ajout panier -->

                <p class="card-text ml-auto card-right">{{ produit.getTarif }}€</p>
            </div>

        </div>
    </div>
{% endblock %}